.fromToInfoBox {
  position: absolute;
  font-size: 1.2rem;
  top: 0;
  right: 0;
  cursor: pointer;
  display: flex;
  background-color: rgba(255, 255, 255, 0.5);
  color: rgba(0, 0, 0, 0.75);
  padding: 0.5rem 1rem 0.5rem 0.5rem;
  align-items: center;
  transition: color 0.5s ease-out;

  & div:not(:last-child) {
    margin-right: 1rem;
  }

  &:hover {
    color: #000;
    & .icon {
      background-image: url('../../svg/edit-24px.svg');
      opacity: 1;
    }
  }
}

.icon {
  flex: 0 0 auto;
  width: 2.4rem;
  height: 2.4rem;
  background-image: url('../../svg/filter_alt-24px.svg');
  margin-right: 1rem;
  opacity: 0.5;
  transition: opacity 0.5s ease-out;
}

.values {
  flex: 1 1 auto;
  line-height: 1.5;
}

.dateRange {
  display: flex;
}
