.geoLocateStyle {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem;
}

.fullscreenControlStyle {
  position: absolute;
  top: 3.6rem;
  left: 0;
  padding: 1rem;
}

.navStyle {
  position: absolute;
  top: 7.2rem;
  left: 0;
  padding: 1rem;
}


.scaleControlStyle {
  position: absolute;
  bottom: 3.6rem;
  left: 0;
  padding: 10px;
}
