.input {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  margin-right: 1rem;
  border: #afafaf solid 1px;
}

.inputError {
  border-color: red;
  outline: red auto;
}

.label {
  margin-bottom: 0.5rem;
}
